<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body style="font-family: Inter, sans-serif">
<header>
    <table style="width: 100%; padding: 4px 35px; background-color: #db9292; box-sizing: border-box">
        <tr>
            <td style="font-size: 20px; text-align: left;">
                <b>LOGO</b>
            </td>
            <td style="text-align: right;">
                <img
                    style="width: 55px; height: 55px; margin: 0;"
                    src="https://cdn-icons-png.flaticon.com/512/1946/1946429.png"
                    alt="logo icon"
                >
            </td>
        </tr>
    </table>
</header>

<main>
    {{{body}}}
</main>

<footer>
    <table style="width: 100%; padding: 10px 35px; background-color: #db9292; box-sizing: border-box">
        <tr>
            <td style="font-size: 14px; text-align: center;">
                VladysCorp - Copyright 2022
            </td>
        </tr>
        <tr>
            <td style="font-size: 10px; text-align: center;">
                <p>click here</p>
            </td>
        </tr>
    </table>
</footer>
</body>
</html>
