<table style="width: 100%; padding: 45px 35px; box-sizing: border-box; background-color: teal; color: wheat">
    <tr>
        <td style="font-size: 18px; text-align: center;">
            Hi, {{name}}, welcome to out platform!
        </td>
    </tr>
</table>